---
http_interactions:
- request:
    method: get
    uri: http://api.bit.ly/v3/expand?apiKey=R_7a6f6d845668a8a7bb3e0c80ee3c28d6&login=stim371&shortUrl=http://bit.ly/2EEjBl
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: US-ASCII
      string: ! '{ "status_code": 200, "status_txt": "OK", "data": { "expand": [ {
        "short_url": "http:\/\/bit.ly\/2EEjBl", "long_url": "http:\/\/www.cnn.com\/",
        "user_hash": "2EEjBl", "global_hash": "2EEjBl" } ] } }

'
  recorded_at: Thu, 12 Sep 2013 22:47:09 GMT
- request:
    method: get
    uri: http://is.gd/forward.php?format=json&shorturl=http://is.gd/gbKNRq
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf8
    body:
      encoding: US-ASCII
      string: ! '{ "url": "http://www.google.com" }'
  recorded_at: Thu, 12 Sep 2013 22:47:09 GMT
- request:
    method: get
    uri: http://api.bit.ly/v3/expand?apiKey=R_7a6f6d845668a8a7bb3e0c80ee3c28d6&login=stim371&shortUrl=http://cs.pn/vsZpra
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: US-ASCII
      string: ! '{ "status_code": 200, "status_txt": "OK", "data": { "expand": [ {
        "short_url": "http:\/\/cs.pn\/vsZpra", "long_url": "http:\/\/www.c-spanvideo.org\/program\/CainNew",
        "user_hash": "vsZpra", "global_hash": "vPQYzq" } ] } }

'
  recorded_at: Thu, 12 Sep 2013 22:47:09 GMT
recorded_with: VCR 2.5.0
