---
http_interactions:
- request:
    method: get
    uri: http://api.bit.ly/v3/bitly_pro_domain?apiKey=R_7a6f6d845668a8a7bb3e0c80ee3c28d6&domain=bit.ly&login=stim371
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"267b83fc6e6df6cfca9d1d225d9c49370fd95a2b"'
    body:
      encoding: US-ASCII
      string: ! '{"status_code": 200, "data": {"domain": "bit.ly", "bitly_pro_domain":
        false}, "status_txt": "OK"}'
  recorded_at: Fri, 06 Sep 2013 20:49:25 GMT
- request:
    method: get
    uri: http://bit.ly/2EEjBl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      Last-Modified:
      - Fri, 06 Sep 2013 20:49:02 GMT
    body:
      encoding: US-ASCII
      string: ! "\n<!DOCTYPE HTML>\n<html lang=\"en-US\">\n<head>\n<title>CNN.com
        - Breaking News, U.S., World, Weather, Entertainment &amp; Video News</title>\n<meta
        http-equiv=\"content-type\" content=\"text/html;charset=utf-8\"/>\n<meta http-equiv=\"last-modified\"
        content=\"2013-09-06T20:44:57Z\"/>\n<meta http-equiv=\"refresh\" content=\"1800;url=http://www.cnn.com/?refresh=1\"/>\n<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/>\n<meta name=\"robots\"
        content=\"index,follow\"/>\n<meta name=\"googlebot\" content=\"noarchive\"/>\n<meta
        name=\"description\" content=\"CNN.com delivers the latest breaking news and
        information on the latest top stories, weather, business, entertainme[...]
- request:
    method: get
    uri: http://api.bit.ly/v3/bitly_pro_domain?apiKey=R_7a6f6d845668a8a7bb3e0c80ee3c28d6&domain=cs.pn&login=stim371
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"dfa798beabc7b464960d35bc73b45490e538569e"'
    body:
      encoding: US-ASCII
      string: ! '{"status_code": 200, "data": {"domain": "cs.pn", "bitly_pro_domain":
        true}, "status_txt": "OK"}'
  recorded_at: Fri, 06 Sep 2013 20:49:26 GMT
- request:
    method: get
    uri: http://api.bit.ly/v3/expand?apiKey=R_7a6f6d845668a8a7bb3e0c80ee3c28d6&login=stim371&shortUrl=http://cs.pn/vsZpra
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: US-ASCII
      string: ! '{ "status_code": 200, "status_txt": "OK", "data": { "expand": [ {
        "short_url": "http:\/\/cs.pn\/vsZpra", "long_url": "http:\/\/www.c-spanvideo.org\/program\/CainNew",
        "user_hash": "vsZpra", "global_hash": "vPQYzq" } ] } }

'
  recorded_at: Fri, 06 Sep 2013 20:49:26 GMT
- request:
    method: get
    uri: http://api.bit.ly/v3/bitly_pro_domain?apiKey=R_7a6f6d845668a8a7bb3e0c80ee3c28d6&domain=is.gd&login=stim371
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"9476d73ca4b7969d1d99bee042f3e4717a9d35aa"'
    body:
      encoding: US-ASCII
      string: ! '{"status_code": 200, "data": {"domain": "is.gd", "bitly_pro_domain":
        false}, "status_txt": "OK"}'
  recorded_at: Fri, 06 Sep 2013 20:49:26 GMT
- request:
    method: get
    uri: http://is.gd/forward.php?format=json&shorturl=http://is.gd/gbKNRq
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf8
    body:
      encoding: US-ASCII
      string: ! '{ "url": "http://www.google.com" }'
  recorded_at: Fri, 06 Sep 2013 20:49:26 GMT
- request:
    method: get
    uri: http://api.bit.ly/v3/bitly_pro_domain?apiKey=R_7a6f6d845668a8a7bb3e0c80ee3c28d6&domain=tinyurl.com&login=stim371
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"6c9ffcc6cedebcfcf385b08ea8c1a4bd87654b91"'
    body:
      encoding: US-ASCII
      string: ! '{"status_code": 200, "data": {"domain": "tinyurl.com", "bitly_pro_domain":
        false}, "status_txt": "OK"}'
  recorded_at: Fri, 06 Sep 2013 20:49:26 GMT
- request:
    method: get
    uri: http://tinyurl.com/cxt5kjr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Tid:
      - 022a5266522a3d440571
      X-Ws:
      - 10.0.2.42
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWw+CjwhLS1baWYgbHQgSUUgNyBdPiA8aHRtbCBjbGFz
        cz0iaWU2Ij4gPCFbZW5kaWZdLS0+CjwhLS1baWYgSUUgNyBdPiAgICA8aHRt
        bCBjbGFzcz0iaWU3Ij4gPCFbZW5kaWZdLS0+CjwhLS1baWYgSUUgOCBdPiAg
        ICA8aHRtbCBjbGFzcz0iaWU4Ij4gPCFbZW5kaWZdLS0+CjwhLS1baWYgSUUg
        OSBdPiAgICA8aHRtbCBjbGFzcz0iaWU5Ij4gPCFbZW5kaWZdLS0+CjwhLS1b
        aWYgKGd0IElFIDkpfCEoSUUpXT48IS0tPiA8aHRtbCBjbGFzcz0iIj4gPCEt
     [...]
