---
http_interactions:
- request:
    method: get
    uri: http://api.bit.ly/v3/bitly_pro_domain?apiKey=R_7a6f6d845668a8a7bb3e0c80ee3c28d6&domain=bit.ly&login=stim371
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"267b83fc6e6df6cfca9d1d225d9c49370fd95a2b"'
    body:
      encoding: US-ASCII
      string: ! '{"status_code": 200, "data": {"domain": "bit.ly", "bitly_pro_domain":
        false}, "status_txt": "OK"}'
  recorded_at: Sun, 15 Jul 2012 10:32:40 GMT
- request:
    method: get
    uri: http://bit.ly/2EEjBl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - http://www.cnn.com/
      Mime-Version:
      - '1.0'
    body:
      encoding: US-ASCII
      string: ! '<html>

        <head>

        <title>bit.ly</title>

        </head>

        <body>

        <a href="http://www.cnn.com/">moved here</a>

        </body>

        </html>'
  recorded_at: Sun, 15 Jul 2012 10:32:41 GMT
- request:
    method: get
    uri: http://www.cnn.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Ua-Profile:
      - desktop
    body:
      encoding: ASCII-8BIT
      string: ! "<!DOCTYPE HTML>\n<html lang=\"en-US\">\n<head>\n<title>CNN.com -
        Breaking News, U.S., World, Weather, Entertainment &amp; Video News</title>\n<meta
        http-equiv=\"content-type\" content=\"text/html;charset=utf-8\"/>\n<meta http-equiv=\"last-modified\"
        content=\"2012-07-15T09:21:48Z\"/>\n<meta http-equiv=\"refresh\" content=\"1800;url=http://www.cnn.com/?refresh=1\"/>\n<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=EmulateIE8\"/>\n<meta name=\"robots\"
        content=\"index,follow\"/>\n<meta name=\"googlebot\" content=\"noarchive\"/>\n<meta
        name=\"description\" content=\"CNN.com delivers the latest breaking news and
        information on the latest top stories, weather, business, enter[...]
- request:
    method: get
    uri: http://api.bit.ly/v3/bitly_pro_domain?apiKey=R_7a6f6d845668a8a7bb3e0c80ee3c28d6&domain=cs.pn&login=stim371
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"dfa798beabc7b464960d35bc73b45490e538569e"'
    body:
      encoding: US-ASCII
      string: ! '{"status_code": 200, "data": {"domain": "cs.pn", "bitly_pro_domain":
        true}, "status_txt": "OK"}'
  recorded_at: Sun, 15 Jul 2012 10:32:42 GMT
- request:
    method: get
    uri: http://api.bit.ly/v3/expand?apiKey=R_7a6f6d845668a8a7bb3e0c80ee3c28d6&login=stim371&shortUrl=http://cs.pn/vsZpra
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: US-ASCII
      string: ! '{ "status_code": 200, "status_txt": "OK", "data": { "expand": [ {
        "short_url": "http:\/\/cs.pn\/vsZpra", "long_url": "http:\/\/www.c-spanvideo.org\/program\/CainNew",
        "user_hash": "vsZpra", "global_hash": "vPQYzq" } ] } }

'
  recorded_at: Sun, 15 Jul 2012 10:32:42 GMT
- request:
    method: get
    uri: http://api.bit.ly/v3/bitly_pro_domain?apiKey=R_7a6f6d845668a8a7bb3e0c80ee3c28d6&domain=is.gd&login=stim371
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"9476d73ca4b7969d1d99bee042f3e4717a9d35aa"'
    body:
      encoding: US-ASCII
      string: ! '{"status_code": 200, "data": {"domain": "is.gd", "bitly_pro_domain":
        false}, "status_txt": "OK"}'
  recorded_at: Sun, 15 Jul 2012 10:32:42 GMT
- request:
    method: get
    uri: http://is.gd/forward.php?format=json&shorturl=http://is.gd/gbKNRq
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf8
    body:
      encoding: US-ASCII
      string: ! '{ "url": "http://www.google.com" }'
  recorded_at: Sun, 15 Jul 2012 10:32:42 GMT
- request:
    method: get
    uri: http://api.bit.ly/v3/bitly_pro_domain?apiKey=R_7a6f6d845668a8a7bb3e0c80ee3c28d6&domain=tinyurl.com&login=stim371
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"6c9ffcc6cedebcfcf385b08ea8c1a4bd87654b91"'
    body:
      encoding: US-ASCII
      string: ! '{"status_code": 200, "data": {"domain": "tinyurl.com", "bitly_pro_domain":
        false}, "status_txt": "OK"}'
  recorded_at: Sun, 15 Jul 2012 10:32:43 GMT
- request:
    method: get
    uri: http://tinyurl.com/736swvl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - http://news.google.com/news/url?sa=t&fd=R&usg=AFQjCNGAT8GOte4VthVYq00L4lSCa7omBA&url=http://www.chinadaily.com.cn/usa/business/2011-11/08/content_14057648.htm
      X-Tiny:
      - cache 0.0013370513916016
      Content-Type:
      - text/html
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 15 Jul 2012 10:32:43 GMT
- request:
    method: get
    uri: http://news.google.com/news/url?fd=R&sa=t&url=http://www.chinadaily.com.cn/usa/business/2011-11/08/content_14057648.htm&usg=AFQjCNGAT8GOte4VthVYq00L4lSCa7omBA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - http://www.chinadaily.com.cn/usa/business/2011-11/08/content_14057648.htm
    body:
      encoding: US-ASCII
      string: ! '<HTML>

        <HEAD>

        <TITLE>Moved Temporarily</TITLE>

        </HEAD>

        <BODY BGCOLOR="#FFFFFF" TEXT="#000000">

        <H1>Moved Temporarily</H1>

        The document has moved <A HREF="http://www.chinadaily.com.cn/usa/business/2011-11/08/content_14057648.htm">here</A>.

        </BODY>

        </HTML>

'
  recorded_at: Sun, 15 Jul 2012 10:32:43 GMT
- request:
    method: get
    uri: http://www.chinadaily.com.cn/usa/business/2011-11/08/content_14057648.htm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      Powered-By-Chinacache:
      - HIT from USA-CG-1-3T1
    body:
      encoding: ASCII-8BIT
      string: ! "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\"\r\n\"http://www.w3.org/TR/html4/loose.dtd\">\r\n<html>\n<head><meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"/>\n<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"/>\n<meta
        name=\"robots\" content=\"all\"/>\n<meta name=\"keywords\" content=\"cheating,death,Yintai
        Real Estate[...]
